* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    background: #050232;
    background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.99) 56%, rgba(0, 212, 255, 1) 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.main {
    background: #cfcecef4;
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 350px;
    height: fit-content;
    border-radius: 25px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
}

.main h2 {
    font-size: 1.9em;
    padding-bottom: 15px;
    color: #111111e1;
    font-family: "Audiowide", sans-serif;
    font-weight: 800;
    font-style: normal;
}

#password {
    height: 32px;
    width: 68%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px 0 0 10px;
    border: 1px solid #aaa;
    outline: none;
    flex: 1 1 200px;
}

#copybtn {
    border-radius: 0 10px 10px 0;
    height: 34px;
    width: 60px;
    border: none;
    background: #2b7cff;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    flex: 0 0 auto;
}

#copybtn:hover {
    background: #1f5fd1;
}

.parea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter {
    margin-top: 15px;
    text-align: left;
}

.filters label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 525;

}

#generatebtn {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background: #28a745;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

#generatebtn:hover {
    background: #1e7e34;
}

#strength {
    margin-top: 10px;
    font-weight: bold;
}

#lengthSlider {
    width: 90%;
    margin-top: 5px;
}